<?xml version="1.0"?>
<!--
/**
* Magento
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com so we can send you a copy immediately.
*
* @package   Zauberzeilen_ReCaptcha
* @author    Björn Rennfanz <bjoern@zauberzeilen.de>
* @copyright Copyright (c) 2019 Zauberzeilen - Ihr Webauftritt von A-Z (https://www.zauberzeilen.de)
* @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
* @link      https://www.zauberzeilen.de
*/
-->
<config>
    <tabs>
        <zauberzeilen translate="label" module="zauberzeilen_recaptcha">
            <label>Zauberzeilen Extensions</label>
            <sort_order>100</sort_order>
        </zauberzeilen>
    </tabs>

    <sections>
        <zauberzeilen translate="label" module="zauberzeilen_recaptcha">
            <label>ReCAPTCHA</label>
            <tab>zauberzeilen</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <recaptcha translate="label" module="zauberzeilen_recaptcha">
                    <label>ReCAPTCHA</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enable>
                            <label>Enable CAPTCHA on Frontend</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>

                        <site_key translate="label">
                            <label>Site Key from Google</label>
			                      <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable>1</enable></depends>
							              <frontend_class>required-entry</frontend_class>
                        </site_key>

                        <secret_key translate="label">
                            <label>Secret Key from Google</label>
							              <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable>1</enable></depends>
							              <frontend_class>required-entry</frontend_class>
                        </secret_key>

                        <enable_logging translate="label">
                            <label>Enable CAPTCHA logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_logging>

                        <logfile translate="label">
                            <label>Logfile</label>
                            <comment>Allowed file extensions: log, txt, html, csv</comment>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logfile>
                    </fields>
                </recaptcha>
            </groups>
        </zauberzeilen>
    </sections>
</config>
